:root {
  --bg: #fbf1c7;
  --bg1: #ebdbb2;
  --fg: #3c3836;
  --blue: #076678;

  --spacer: 20px;
  --fa-li-margin: 26px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282828;
    --bg1: #3c3836;
    --fg: #ebdbb2;
    --blue: #83a598;
  }
}

html {
  background-color: var(--bg);
  color: var(--fg);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
}

a {
    color: var(--blue);
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 130%;
}

h2, p, ul, dl {
  margin-bottom: var(--spacer);
}

dt {
  font-weight: bold;
}

.intro {
  background-color: var(--bg1);
  margin-bottom: var(--spacer);
  padding: var(--spacer) 0;
}

.column {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--spacer);
}

.bullet::before {
  content: "\2022";
  display: inline-block;
}

.tagline {
  font-size: 125%;
}

.social li {
  display: inline-block;
  margin-right: 50px;
}

.affiliations {
  margin-bottom: 0;
}

.hello {
  font-size: 150%;
}

.timeline {
  --point-radius: 12px;

  position: relative;
  margin-left: var(--point-radius);
  padding-left: var(--spacer);
}

.timeline::before {
  --border-width: 3px;

  content: "";
  position: absolute;
  background-color: var(--fg);
  top: 0;
  bottom: 0;
  left: calc(var(--border-width) / -2);
  width: var(--border-width);
  margin: 5px 0;
}

.timeline dt::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: var(--fg);
  border-radius: var(--point-radius);
  left: calc(-1 * var(--point-radius));
  width: calc(2 * var(--point-radius));
  height: calc(2 * var(--point-radius));
}

.timeline dd {
  margin-bottom: var(--spacer);
}
