:root {
  --bg: #fbf1c7;
  --fg: #3c3836;
  --blue: #076678;

  --fa-li-margin: 26px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282828;
    --fg: #ebdbb2;
    --blue: #83a598;
  }
}

html {
  background-color: var(--bg);
  color: var(--fg);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
    color: var(--blue);
}

dt {
  font-weight: bold;
}

.bullet:before {
  content: "\2022";
  display: inline-block;
}

.tagline {
  font-size: 125%;
}

.links {
  display: flex;
}

.hello {
  font-size: 150%;
}
