:root {
  --bg: #fbf1c7;
  --bg1: #ebdbb2;
  --fg: #3c3836;
  --blue: #076678;

  --fa-li-margin: 26px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282828;
    --bg1: #3c3836;
    --fg: #ebdbb2;
    --blue: #83a598;
  }
}

html {
  background-color: var(--bg);
  color: var(--fg);
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
}

a {
    color: var(--blue);
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 130%;
}

h2, p, ul, dl, .intro {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

.intro {
  background-color: var(--bg1);
  padding: 20px 0;
}

.column {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.bullet:before {
  content: "\2022";
  display: inline-block;
}

.tagline {
  font-size: 125%;
}

.social li {
  display: inline-block;
  margin-right: 50px;
}

.affiliations {
  margin-bottom: 0;
}

.hello {
  font-size: 150%;
}
